body {
   font: 1em 'PT Sans', Arial, Heltvetica, sans-serif;
   color: black;
   background: url(https://w7.pngwing.com/pngs/360/33/png-transparent-modern-minimalist-triangle-violet-background-shading-geometry-shading-violet.png);
background-size: 1700px 1500px;
}

.op{
	border-color: black;
   border-width: 1px;
   border-style: solid;
   border-radius:1px;
   width: 105px;
}

	h2{
		padding: 0 0 0 45px;
	}

	p{
		  font-size: 20px;
	}

.wrapper {
		width: 960px;
		margin: 20px auto;
	}
		#wrapper {
		width: 960px;
		margin: 20px auto;
	}

		.mainCol {
		float: left;
		width: 660px;
	}

	form .formLabel {
		display: none;
	}

	.sidebarCol div {

		background: rgba(0,0,0,.2);
	}

	.sidebarCol form div {
		background: none;
	}

	.sidebarCol ul,
	.sidebarCol dl {
		color: #999;
	}


	.sidebarCol {
		float: right;
		width: 270px;
	}

	.sidebarCol > div {
		overflow: hidden;
		margin-top: 1px;
		padding: 15px 20px 0 20px;
	}

	.sidebarCol div h2 {
		margin-bottom: 10px;
		font-size: 20px;
		background: none;
}

	.sidebarCol div ul li {
		list-style: none;
		margin-bottom: 15px;
		position: relative;
	}

	.sidebarCol div ul li a,
	.sidebarCol div dl dt a {
		margin-left: 65px;
	}

	.sidebarCol div dl {
		margin-bottom: 20px;
	}

	.sidebarCol div dl dd,
	.sidebarCol div dl dt {
		margin-bottom: 10px;
	}

	.sidebarCol div dl dd {
		text-align: right;
	}


	.sidebarCol ul.adverts li {
		list-style: none;
		float: left;
		width: 125px;
		height: 125px;
		overflow: hidden;
		margin: 20px 0 0 20px;
	}


	a:link,
	a:visited,
	a:focus,
	a:active {
		color: #FFF;
		text-decoration: none;
	}


	dl {
		overflow: hidden;
	}















/* TABLES ---------------------------------------------------------*/

	table {
		width: 100%;
	}

	table th,
	table td {
		padding: 10px;
	}

	table thead th {
		text-align: left;
		font-weight: bold;
		vertical-align: bottom;
	}

	table tbody tr:first-child th,
	table tbody tr:first-child td {
		border-top: none;
	}

	form input[type=text],
	form input[type=password],
	form textarea {
		padding: 10px;
		font: 12px/19px "Lucida Grande", Arial;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
	}

	form input[type=text],
	form input[type=password] {
		width: 55%;
	}

	form textarea {
		width: 95%;
		height: 200px;
	}

	form div {
		margin-bottom: 20px;
	}

	form button {
		font-size: 20px;
		border: none;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		padding: 12px 20px 13px 20px;
		cursor: pointer;
	}






	@media screen and (max-width: 1280px) { div.contentblock {width: 1200px;} } @media screen and (max-width: 1140px) { div.contentblock {width: 1024px;} } @media screen and (max-width: 992px) { div. contentblock {width: 970px;} }