<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Delete product</title>
</head>
<style>
   body {
    background: url(https://image.freepik.com/free-photo/green-leaves-on-white-background_53876-88575.jpg);
   }

</style>
<body>
<h1>Delete a product from online shop! </h1>
<form action="/delete" method="POST">
    Id : <input type="text" name="id" style=position:absolute;left:6%;/ ><br><br>
    <input type="submit" name="delete" value="Delete"/>
</form>
</body>
</html>
