<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
</head>
<style>
   body {
    background: url(https://image.freepik.com/free-photo/green-leaves-on-white-background_53876-88575.jpg);
   }

</style>
<body>
<h1>Log in </h1>
<form action="/login" method="POST">
    Email address : <input type="text" name="id" style=position:absolute;left:6%;/ ><br><br>
    Password : <input type="text" name="id" style=position:absolute;left:6%;/ ><br><br>
    <input type="submit" name="Submit" value="Submit"/>
</form>
</body>
</html>
