<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Update user</title>
</head>
<style>
   body {
    background: url(https://image.freepik.com/free-photo/green-leaves-on-white-background_53876-88575.jpg);
   }
  </style>
<body>
<h1>Update product! </h1>
<form action="/update" method="POST">

    name : <input type="text" name="name" style=position:absolute;left:10%;/ ><br><br>
    price : <input type="text" name="price" style=position:absolute;left:10%;/ ><br><br>
    creationdate : <input type="text" name="creationdate" style=position:absolute;left:10%;/ ><br><br>
    id : <input type="text" name="id" style=position:absolute;left:10%;/ ><br><br>

    <input type="submit" name="update" value="Update"/>

</form>
</body>
</html>
